<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script type='text/javascript' src='INJECTION_PATH?matcher'></script>
    <script type='text/javascript' src='INJECTION_PATH?single'></script>
    <script src="https://www.googletagmanager.com/gtag/js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Home Page!</h1>
    <p>This is a simple HTML page rendered by Flask.</p>
</body>

</html>
